* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* for title */

.title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
   background: rgba(255, 255, 255, 0.1);
   padding-bottom: 1vh;
   padding: 1vh;
   /* border: 1px solid white;
    */
    border: 2px solid rgba(255, 255, 255, 0.3);
   border-radius: 10px;
   padding: 2vh;
}
.title i {
  color: #ff5733;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.btn {
  height: 38px;
  width: 100px;
  background-color: #ff5733;
  color: white;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}


.book-list {
  /* background-color: blueviolet; */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 20px 30px;
  background-attachment: fixed;
  background-image: linear-gradient(
    to right,
    blueviolet,
    rgba(137, 43, 226, 0.345)
  );
  color: #8a2be3;
}

.head h1 {
  color: #f5f5f5;
}

.head-btn {
  height: 6vh;
  width: 16vh;
  font-size: 2.3vh;
  background-color: white;
  border-radius: 7px;
  border: 1px solid black;
}
.head-btn a {
  text-decoration: none;
  color: #8a2be3;
  font-weight: 700;
}
.head-btn:hover {
  transform: scale(0.95); /* Increases size by 20% */
  cursor: pointer;
  /* background-color: #ece2e2; */
  background-color: white;
  box-shadow: 0 6px 15px #8a2be38b;
  transition: 0.2s;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-top: 1px solid rgba(15, 1, 1, 0.874); */
  height: 10vh;
}

.search-section {
  position: relative;
  width: 250px;
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  /* margin-left: 45vh; */
}
.input-text {
  height: 5vh;
  width: 35%;
  border-radius: 30px;
  border: none;
  padding-left: 2vh;

  font-size: 2.3vh;
  padding: 10px 35px 10px 10px;
  border: 1px solid #7d7a7a;
  background-color: rgba(240, 240, 240, 0.493);
  outline: none;
  transition: all 0.3s ease-in-out;
  background-image: url("https://cdn-icons-png.flaticon.com/512/10629/10629681.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 20px;
}
.input-text:hover {
  transform: scale(0.95);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.183);
  border: 1.5px solid black;
}

.book-card-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.book-card {
  min-height: 44vh;
  width: 55vh;
  background: rgba(255, 255, 255, 0.1); /* Transparent white */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 2px solid rgba(255, 255, 255, 0.3);
  display: flex;
  border-radius: 2vh;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
}

.book-card:hover {
  transform: scale(0.95);
  box-shadow: 0 14px 16px rgba(0, 0, 0, 0.183);
  border: 1px solid black;
  transition: 0.5s;
}
.book-card1 {
  height: 26vh;
  width: 22vh;
  padding-left: 2vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-card2 {
  color: #000000;
  width: 28vh;
  margin: 1vh;
}

.book-card img {
  height: 100%;
  width: 90%;
  background-size: cover;
  border-radius: 0.5vh;
}
.book-name {
  color: #ffffff;
  font-weight: 700;
  font-size: 2.2vh;
  padding: 2.5px 0;
}
.book-author {
  color: #313030;
  font-weight: 600;
  padding: 2.5px 0;
}
.book-desc {
  font-weight: 300;
  padding: 2.5px 0;
  font-size: 1.9vh;
}
.book-qty {
  color: #ffffff;
  padding: 2.5px 0;
  font-weight: 700;
}
.book-id {
  padding: 2.5px 0;
  font-weight: 600;
}
