* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
    to right,
    blueviolet,
    rgba(137, 43, 226, 0.345)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 2vh 0;
  flex-direction: column;
}

.title {
  color: white;
  display: flex;
  width: 98%;
  margin: 3vh 0vh;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.1);
  padding-bottom: 1vh;
  padding: 1vh;

  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 2vh;
}
.title i {
  color: #ff5733;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.btn-login {
  height: 38px;
  width: 100px;
  background-color: #ff5733;
  color: white;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.form-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 8px;
  width: 35%;
  color: #f5f5f5;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.395);
  padding-left: 10px;
  margin-bottom: 7vh;
  
}

h2 {
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


fieldset {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
}

legend {
  font-weight: bold;
  color: #100f0f;
}

label {
  display: block;
  margin-top: 5px;
  text-align: left;
  margin-left:7px ;
}

input {
  height: 5vh;
  width: 100%;
  border-radius: 30px;
  border: none;
  padding-left: 2vh;

  font-size: 2.3vh;
  padding: 10px 15px 10px 10px;
  border: 1px solid #7d7a7a;
  background-color: rgba(240, 240, 240, 0.493);
  outline: none;
  transition: all 0.3s ease-in-out;
  /* background-image: url("https://cdn-icons-png.flaticon.com/512/10629/10629681.png");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 20px; */
}

input:hover {
  transform: scale(0.95);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.183);
  border: 1.5px solid black;
}

button {
  background: #ff6b6b;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: 0.3s;
  border-radius: 20px;
  height: 6vh;
  font-size: 3vh;
}

button:hover {
  background: #ff4757;
}

.student-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
